.home {
    // height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  
    .Top {
      background-color: #ffffff;
      box-shadow: 0px 0px 18px -5px #777777;
      display: flex;
      justify-content: space-around;
      gap: 50px;
      padding: 100px 100px;
  
      .TopLeft {
        padding-top: 30px;
  
        .title,
        p {
          text-align: center;
          padding-bottom: 8%;
        }
  
        .TopButton {
          padding: 10px 10px;
          color: #ffffff;
          background-color: #508fd8;
          border: 1px solid #e4ecf6;
          border-radius: 90px;
          display: block;
          margin: auto;
          width: 50%;
          box-shadow: 0px 0px 18px -5px #777777;
          transition: background-color 0.3s, color 0.3s;
  
          &:hover {
            cursor: pointer;
            background-color: #ffffff;
            color: #508fd8;
          }
        }
      }
  
      .TopRight {
        display: flex;
        justify-content: center;
  
        img {
          box-shadow: 0px 0px 18px -5px #777777;
        }
      }
    }
  }
  
  @media screen and (min-width: 1024px) {
    .Top {
      margin: 100px 0;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .Top {
      margin-top: 30px;
      flex-direction: column-reverse;
      align-items: center;
      padding: 80px 20px;
  
      .TopLeft {
        width: 100%;
  
        .title,
        p {
          padding-bottom: 5%;
        }
      }
  
      .TopRight {
        img {
          width: 95%;
        }
      }
    }
  }
  
  // 改行用のCSS
  .br-sp {
    display: none;
  }
  
  @media screen and (max-width: 1080px) {
    .br-pc {
      display: none;
    }
  
    .br-sp {
      display: inline-block;
    }
  }
  
  // Card boxのレスポンシブCSS
  @media screen and (max-width: 768px) {
    .card {
      width: 60%;
      margin: 0 auto;
    }
  }
  